/* https://github.io/nancymtran*/

/*This is the main body styles*/
body {
  background: whitesmoke;
  backface-visibility: visible;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  color: #514c4d;
  /*position: fixed;*/
  line-height: 1;
  scroll-behavior: smooth;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
  margin: 0;
}

/*fade in animation for page transition*/
@keyframes fadeInAnimation { 
  0% { 
  opacity: 0; 
  } 
  100% { 
  opacity: 1; 
  } 
} 

/*Customized scrollbar*/
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background: #f8f8f8;
}

body::-webkit-scrollbar-thumb {
  background-color: #DCCCCF;
}


/*styles for the intro of each page*/
.intro h1 {
  display: block;
  text-align: center;
  margin-top: 10%;
  z-index: 1;
}

.intro h2 {
  display: block;
  text-align: center;
}

.intro h3 {
  padding-left: 1%;
  text-align: center;
}

.intro p {
  padding-left: 1%;
  text-align: center;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  text-justify: inner-word;
}

/*styling outside of header*/
p, h1 {
  color: #514c4d;
  font-family: 'Montserrat', sans-serif;
  display: block;
  text-align: center;
}

p {
  margin-left: 5%;
  margin-right: 5%;
  z-index: 1;
}

/* Navigation bar */
.navbar{
  background: #efe4ea;
  /*background: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);*/
  background-repeat: no-repeat; /*background does not repeat itself*/
  background-attachment: fixed; /*background does not repeat itself*/
  overflow: visible;
  position: fixed;  /* sets navbar to a fixed position so no moving throughout */
  top: 0; /* nav bar is at the top of the page */
  display: block;
  min-width: 100%; /* full width regardless of screen size*/
  z-index: 9999;
}

/* navbar top formatting */
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*padding top/bottom of the navbar*/
nav ul li{
  padding: 1.5% 0;
}

/* spacing between items in expanded navbar */
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 2%;
  text-align: center;
  order: 3;
}

/* the underline under each item in expanded navbar when hover*/
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #514c4d;
  opacity: 0;
  transition: all 0.2s linear;
}

nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}

/*font color and formatting of items in navbar*/
nav ul li a{
  color: #514c4d;
  font-size: large;
  text-decoration: none;
  transition: .4s;
}

/*font color and formatting of items in navbar when hover*/
nav ul li:hover a{
  color: #514c4d;
  font-weight: bold;
}

/*nav ul li i{
  font-size: 23px;
}*/

nav ul li.btn{
  display: none;
}

nav ul li.btn.hide i:before{
  content: '\f00d';
}

/*footer class styling*/
.footer {
  margin-bottom: 5%;
}

.footer p {
  font-size: x-small;
}

/*social media icons in footer*/
#socialMedia {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}


/*social media icons adjustments*/
#socialMedia img {
  border-radius: 50%; /*makes the picture a circle*/
  width: 30px; 
  display: inline-block;
  margin: 5px;
  background-color: #FFFFFF; opacity: 0.6; filter: alpha(opacity=60);
}


/*social media icon adjustments when hover*/
#socialMedia img:hover {
  transform: scale(1.3);
  background-color: #FFFFFF; opacity: 70; 
  filter: alpha(opacity=70);
}

#hairbuns img {
  height: auto;
  max-width: 30%;
  display: flex;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

/*download resume button that will direct to pdf to download*/
.downloadResumeButton {
  padding: 15px 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #514c4d;
  border: #514c4d 3px;
  border-radius: 8px;
  width: 20%;
  box-shadow: 3px 3px 3px 3px rgb(220, 203, 206);
  margin-top: 2%;
  margin-left: 40%;
}

/*download resume button when hover*/
.downloadResumeButton:hover {
  color: #514c4d;
  transform: scale(1.1);
  transition: 0.3s;
}

/*Focused Developer (created by Undraw)*/
#devFocus {
  display: flex;
  justify-content: center;
}

#devFocus img {
  width: 30%;
  height: 30%;
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*Nancy Tran's Flat-Design Potted Plants (created by Nancy Tran)*/
#plants {
  display: flex;
  justify-content: center;
}

#plants img {
  width: 40%;
  height: 40%;
  display: inline-block;
}


/*Nancy Tran's Flat-Design Resume (created by Nancy Tran)*/
#fakeResume {
  display: flex;
  justify-content: center;
}

#fakeResume img {
  width: 25%;
  height: 25%;
  display: inline-block;
}

/*Button Scoll to Top styling*/
#btnScrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background: #efe4ea;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);*/
  color: #514c4d;
  padding: 15px;
  border-radius: 50%;
}

#btnScrollToTop:active {
  transform: scale(1.1);
  background-color: #efe4ea;
  opacity: 70; 
  filter: alpha(opacity=70);
}


/* CSS links styling*/
.otherLinks:link {
  color:#514c4d; /* unvisited link */
}

.otherLinks:hover {
  font-weight: bolder; /* mouse over link */
}

.otherLinks:visited {
  color: #514c4d; /* visited link */
}  


/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards_item {
  z-index: 1;
}

.cards_item:hover {  
  transform: scale(1.03);
  transition-delay: 0.03s;
}

.btn {
  color: #514c4d;
  padding: 0.4rem;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none; /*no underline under button text representing href link*/
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  border: 1px solid #d2bdc1;
  background: #d2bdc1;
}

.btn:hover {
  font-weight: 600;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
.cards_item {
  width: 50%;
}
}

@media (min-width: 56rem) {
.cards_item {
  width: 33.3333%;
}
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 3px 3px 3px 3px rgb(220, 203, 206);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: transparent;
/*outline: 5px solid #DCCCCF;*/
}

.card_title {
  color: #514c4d;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  margin: 0px;
  text-decoration: none;
}

.card_text {
  color: #514c4d;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  text-align: justify;
  text-justify: inner-word;
  text-decoration: none;
}


/* 404 error page styling */
#pageNotfound {
  display: flex;
  justify-content: center;
}

#pageNotFound img {
  width: 60%;
  height: 60%;
  margin-left: 20%;
  display: inline-block;
}


/*------------------ styling for screens with a maximum width of 992px ------------------*/
@media all and (max-width: 992px){

.navbar{
  z-index: 9999;
} 

nav{
  padding: 5px 30px;
}

nav ul li.items{
  width: 100%;
  display: none;
}

nav ul li.items.show{
  display: block;
  margin-right: 10%;
  margin-bottom: 4%;
  animation: fadeIn 1s;
}

nav ul li.btn{
  display: block; 
  margin-left: 95%;
}

/* the underline under each item in expanded navbar when hover*/
nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  width: 14%;
  background: #514c4d;
  opacity: 0;
  transition: all 0.2s linear;
  margin-left: 43%;
  margin-bottom: -8px;
}

nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}

.intro h1 {
  margin-top: 15%;
}

#fakeResume img {
  width: 40%;
  height: 40%;
  display: inline-block;
}

/*download resume button that will direct to pdf to download*/
  .downloadResumeButton {
  width: 40%;
  margin-left: 30%;
}

/*download resume button when hover*/
.downloadResumeButton:hover {
  color: #514c4d;
  transform: scale(1.1);
  transition: 0.3s;
}

}



/*------------------ Small Devices, Tablets ------------------*/
@media all and (max-width : 768px) {

.intro h1 {
  margin-top: 25%;
}

nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  width: 14%;
  background: #514c4d;
  opacity: 0;
  transition: all 0.2s linear;
  margin-left: 43%;
  margin-bottom: -8px;
}

nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}

/*download resume button that will direct to pdf to download*/
.downloadResumeButton {
  width: 60%;
  margin-left: 20%;
}

/*download resume button when hover*/
.downloadResumeButton:hover {
  color: #514c4d;
  transform: scale(1.1);
  transition: 0.3s;
}

}


/*------------------ Extra Small Devices, Phones ------------------*/ 
@media all and (max-width : 480px) {

.intro h1 {
  margin-top: 35%;
}

nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  width: 24%;
  background: #514c4d;
  opacity: 0;
  transition: all 0.2s linear;
  margin-left: 38%;
  margin-bottom: -8px;
}

nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}

/*download resume button that will direct to pdf to download*/
.downloadResumeButton {
  width: 60%;
  margin-left: 20%;
}

/*download resume button when hover*/
.downloadResumeButton:hover {
  color: #514c4d;
  transform: scale(1.1);
  transition: 0.3s;
}

}


/*------------------ Custom, iPhone Retina ------------------*/ 
@media all and (max-width : 320px) {

.intro h1 {
margin-top: 45%;
}

nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  width: 40%;
  background: #514c4d;
  opacity: 0;
  transition: all 0.2s linear;
  margin-left: 30%;
  margin-bottom: -8px;
}

nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}

/*download resume button that will direct to pdf to download*/
.downloadResumeButton {
  width: 80%;
  margin-left: 10%;
}

/*download resume button when hover*/
.downloadResumeButton:hover {
  color: #514c4d;
  transform: scale(1.1);
  transition: 0.3s;
}

}






/*Parking Lot Code - Unused */

/*
* {
cursor: url(/assets/wand.png), auto; } /* Icons made by Good Ware (https://www.flaticon.com/free-icon/wand_861556) from https://www.flaticon.com/ */

/* Links inside the navigation bar */
/*.navbar a{
float:left;
color: black;
opacity: 0.5;
text-align: left;
padding: 20px 20px;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
opacity: 0.5;
filter: alpha(opacity=50);
}
*/

/* Change background on mouse-over/hover */
/*.navbar a:hover {
transform: scale(1.1);
transition: 0.5s;
opacity: 0.7;
filter: alpha(opacity=70);
}

/*nav ul li.items:hover{
  /*border: 1px solid #514c4d;*/
  /*box-shadow: inset 0 0 5px whitesmoke,
  inset 0 0 10px whitesmoke;
}

nav ul li.items:hover:after{
  opacity: 0;
  display: flex;
}

/*Nancy Tran's Avatar (created by Nancy Tran)*/
/*#avatar {
  display: flex;
  justify-content: center;
}

#avatar img {
  width: 15%;
  height: 15%;
  display: inline-block;
}

*/