/* https://github.io/nancymtran*/

* {
    background: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
    background-repeat: no-repeat; /*background does not repeat itself*/
    background-attachment: fixed; /*background does not repeat itself*/
    cursor: url(/assets/wand.png), auto;
}
/*<div>Icons made by <a href="https://www.flaticon.com/free-icon/wand_861556" 
title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" 
title="Flaticon">www.flaticon.com</a></div>*/

body {
    backface-visibility: visible;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: #514c4d;
    /*position: fixed;*/
    line-height: 1;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  background: #f7f7f7;
}

body::-webkit-scrollbar-thumb {
  background-color: #DCCCCF;
}

.intro h1 {
  display: block;
  text-align: center;
  margin-top: 15%;
}

.intro h2 {
  display: block;
  text-align: center;
}

.intro p {
  padding-left: 1%;
  text-align: left;
  margin-bottom: 5%;
}

p, h2 {
  color: #514c4d;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

details {
  border-radius: 8px;
  width: 80%;
  margin-bottom: 5%;
  margin-left: 10%;
}


details[open] {
  background: #FCF6F7;
}

details[open] p {
  color: #514c4d;  
  opacity: 0.8;
  filter: alpha(opacity=80);
    display: block;
  text-align: left;
  padding: 2%;
}

summary {
  color: #514c4d;
  text-align: center;
  line-height: 50px;
}

/* Navigation bar */
.navbar{
    overflow: visible;
    position: fixed;  /* sets navbar to a fixed position so no moving throughout */
    top: 0; /* nav bar is at the top of the page */
    display: block;
    width: 100%; /* full width regardless of screen size*/
    padding: 0%;
    margin-bottom: 15%;
    border-bottom: #FCF6F7 4px;
}

/* Links inside the navigation bar */
.navbar a{
    float:left;
    color: black;
    opacity: 0.5;
    text-align: left;
    padding: 20px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}


/* Change background on mouse-over/hover */
.navbar a:hover {
    transform: scale(1.1);
    transition: 0.5s;
    opacity: 0.7;
    filter: alpha(opacity=70);
}


.footer p {
  font-size: x-small;
}

#socialMedia {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}


/*social media icons adjustments*/
#socialMedia img {
    border-radius: 50%; /*makes the picture a circle*/
    width: 30px; 
    display: inline-block;
    margin: 5px;
    background-color: #FFFFFF; opacity: 0.6; filter: alpha(opacity=60);
  }


/*social media icon adjustments when hover*/
#socialMedia img:hover {
    transform: scale(1.3);
    background-color: #FFFFFF; opacity: 70; 
    filter: alpha(opacity=70);
}

/*download resume button that will direct to pdf to download*/
.downloadResumeButton {
    padding: 15px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #514c4d;
    border: #514c4d 3px;
    border-radius: 8px;
    width: 80%;
    box-shadow: 3px 3px 3px 3px rgb(220, 203, 206);
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
}

/*download resume button when hover*/
.downloadResumeButton:hover {
    color: #514c4d;
    transform: scale(1.1);
    transition: 0.3s;
}

/*Nancy Tran's Avatar (created by Nancy Tran)*/
#avatar {
  display: flex;
  justify-content: center;
}

#avatar img {
  width: 15%;
  height: 15%;
  display: inline-block;
}

/*Nancy Tran's Flat-Design Potted Plants (created by Nancy Tran)*/
#plants {
  display: flex;
  justify-content: center;
}

#plants img {
  width: 40%;
  height: 40%;
  display: inline-block;
}


/*
#btnScrollToTop {
  position: -webkit-sticky;
  position: sticky;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #DCCCCF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #514c4d;
  outline: none;
  border: none;
}

btnScrollToTop:active {
  transform: scale(1.1);
  background-color: #DCCCCF; opacity: 70; 
  filter: alpha(opacity=70);
}
*/