/** Fix * Version 0.1.1 *https://github.com/jaydenseric/Fix */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

iframe {
  border: 0;
}

main {
  display: block;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  display: block;
}

dl {
  margin-top: 0;
  margin-bottom: 0;
}

dd {
  margin-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}


figure {
  margin: 0;
}


/* https://github.io/nancymtran*/
* {
    background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
    background-repeat: no-repeat; /*background does not repeat itself*/
    background-attachment: fixed; /*background does not repeat itself*/
    cursor: url(/assets/wand.png), auto;
}
/*<div>Icons made by <a href="https://www.flaticon.com/free-icon/wand_861556" 
title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" 
title="Flaticon">www.flaticon.com</a></div>*/

body {
    backface-visibility: visible;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: #514c4d;
    position: fixed;
    line-height: 1;
}


p {
    color: #514c4d;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1%;
}

.intro h1 {
    display: block;
    text-align: center;
    margin-top: 15%;
}

/* Navigation bar */
.navbar{
    overflow: visible;
    position: fixed;  /* sets navbar to a fixed position so no moving throughout */
    top: 0; /* nav bar is at the top of the page */
    display: block;
    width: 100%; /* full width regardless of screen size*/
    padding: 0%;
    margin-bottom: 15%;
}

/* Links inside the navigation bar */
.navbar a{
    float:left;
    color: black;
    opacity: 0.5;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}


/* Change background on mouse-over/hover */
.navbar a:hover {
    transform: scale(1.1);
    transition: 0.5s;
    opacity: 0.7;
    filter: alpha(opacity=70);
}


#socialMedia {
    display: flex;
    justify-content: center;
}


/*social media icons adjustments*/
#socialMedia img {
    border-radius: 50%; /*makes the picture a circle*/
    width: 30px; 
    display: inline-block;
    margin: 5px;
    background-color: #FFFFFF; opacity: 0.6; filter: alpha(opacity=60);
  }


/*social media icon adjustments when hover*/
#socialMedia img:hover {
    transform: scale(1.3);
    background-color: #FFFFFF; opacity: 70; 
    filter: alpha(opacity=70);
}

.downloadResumeButton {
  padding: 15px 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #514c4d;
  background-color: whitesmoke;
  border: #514c4d 3px;
  border-radius: 8px;
  width: 100%;
  box-shadow: 3px 3px 3px 3px rgb(220, 203, 206);
  margin-top: 2%;
  margin-bottom: 2%;
}

.downloadResumeButton:hover {
background-color: #514c4d;   
color: whitesmoke;
opacity: 0.8;
filter: alpha(opacity=80);
transition: 0.1s;
}

#googleForms iframe {
  border: 0;
  width: 900px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-item: center;
}